@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.picture{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: end;
    flex-direction: column;
}

.container_card{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
}

.img{
    height: 55vh;
    width: 35vw;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card{
    height: 55vh;
    width: 20vw;
    margin-top: 100px;
    background-color: #464343;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card >h1{
    color: #00ff88e5;
    font-weight: 200;
    margin: 0;
}

.line-card{
    width: 17vw;
    margin-bottom: 10px;
}

.textfield{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.textfield >input{
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-comment{
    width: 40%;
    padding: 4px 0 ;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

button:hover {
    background: #02cc6e;transition: background 1s;
}

.line-picture{
    height: 10%;
    width: 70vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

@media only screen and (max-width:950px){
    .card{
        width: 85%;
    }
}
@media only screen and (max-width:600px){
    .picture{
       display: flex;
    }
    .image >h1{
        display: none;
    }
    .image{
        width: 100%;
        height: auto;
    }
    .container_card{
        width: 100%;
        height: auto;
    }
    .image-login{
        width: 50vw;
    }
    .img{
        width: 90%;
    }
    .line-picture{
        width: 85vw;
    }
}

