@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #201b2c;
}
.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3e0748;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active,
.navigation:hover {
    width: 300px;
}
.navigation ul {
   position: relative;
   top: 40px;
   left: 0;
   width: 100%; 
}
.navigation ul li.in{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li.exit{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li.in:hover{
    background: #ea1d63;
}

.navigation ul:hover li.exit{
    background: #ea1d63;
}

.navigation ul li.in a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #00ff88;
}

.navigation ul li.exit a {
    position: absolute;
    width: 100%;
    bottom: -600px;
    display: flex;
    text-decoration: none;
    color: #00ff88;
}

.navigation ul li.in a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #00ff88;
}

.navigation ul li.exit a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #00ff88;
}

.navigation ul li.in a .icon .fa-solid{
    font-size: 24px;
}

.navigation ul li.exit a .icon .fa-solid{
    font-size: 24px;
}

.navigation ul li.exit a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    color: #00ff88;
}

.navigation ul li.in a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    color: #00ff88;
}
    
.name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #00ff88;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
}

.search {
    position: fixed;
    right: 0%;
    width: 4vw;
    height: 9%;
    transform: translateX(0%);
    background: #3e0748;
    transition: 0.5s;
    overflow: hidden;
}

.search:hover{
    width: 200px;
}

.search ul {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; 
}

.search ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.search ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #00ff88;
}

.search ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.search ul li a .icon .fa-solid{
    font-size: 30px;
}

.search ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width:767px){
    .navigation{
        left: -200px;
    }
    .search{
        right: -200px;
    }
    .navigation.active{
        left: 0px;
        width: 100%;
    }
}


@media only screen and (max-width:600px){
    .search{
        right: -30px;
    }
}