{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_configuration.css')}}">

<div class="container">
    <div class="card-update">
        <a href="#" id="show-or-hide">Atualizar dados do Perfil</a>
    </div>

    <div class="card-update-below">
        <form action="" enctype="multipart/form-data" method="post">
            <div class="image">
                <img src="data:;base64,{{user.perfil_photo}}" alt="">
                <label for="image">Alterar foto de perfil</label>
                <input type="file" name="image">
            </div>
        
            <div class="textfield">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" placeholder="Usuário">
            </div>
    
            <div class="textfield2">
                <label for="biografia">Biografia</label>
                <textarea name="biografia" cols="30" rows="3" placeholder="Biografia"></textarea>
            </div>
    
            <button class="save">Salvar alterações</button>
        </form>
        
    </div>

    <div class="card-update2">
        <a href="#" id="show-or-hide2">Alterar Senha</a>
    </div>

    <div class="card-update-below2">
        <form action="" method="post">
            <div class="textfield-email">
                <label for="email">Email</label>
                <input type="email" name="email" required placeholder="Email">
            </div>
    
            <div class="textfield3">
                <label for="senha">Senha atual</label>
                <input type="password" name="senha" required placeholder="Senha atual">
            </div>
    
            <div class="textfield3">
                <label for="nova_senha">Nova senha</label>
                <input type="password" name="nova_senha" required placeholder="Nova senha">
            </div>
    
            <button class="save">Salvar alterações</button>
        </form> 
    </div>
</div>

<script>
    var btn = document.querySelector('#show-or-hide');
    var card_update_below = document.querySelector('.card-update-below');
    var card_update = document.querySelector('.card-update');

    btn.addEventListener('click', function(){
        if(card_update_below.style.display === 'block'){
            card_update_below.style.display = 'none';
            card_update.style.borderRadius = '20px';
        } else {
            card_update_below.style.display = 'block';
            card_update_below.style.textAlign = 'center';
            card_update.style.borderBottomLeftRadius = '0px';
            card_update.style.borderBottomRightRadius = '0px';
        }
    });

    var btn2 = document.querySelector('#show-or-hide2');
    var card_update_below2 = document.querySelector('.card-update-below2');
    var card_update2 = document.querySelector('.card-update2');

    btn2.addEventListener('click', function(){
        if(card_update_below2.style.display === 'block'){
            card_update_below2.style.display = 'none';
            card_update2.style.borderRadius = '20px';
        } else {
            card_update_below2.style.display = 'block';
            card_update_below2.style.textAlign = 'center';
            card_update2.style.borderBottomLeftRadius = '0px';
            card_update2.style.borderBottomRightRadius = '0px';
        }
    });
</script>

{% endblock conteudo %}