<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_confirm_registration.css') }}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Confirm Registration</title>
</head>
<body>
    <div class="container">
        <div class="card-registration">
            <h2>Confirmação de Registro de Conta</h2>
            <hr>
            <p>Sua conta foi confirmada e registrada com sucesso!
                Você já pode fazer login em nossa aplicação.</p>
        </div>
    </div>
</body>
</html>