<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_dashboard.css')}}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            
            {% for message in messages %}
                {% if message[0] == 'danger' and message[0] == 'success' %}
                    <div class="container">
                        <span class="flashes">{{ message[1] }}</span>
                    </div>
                {% endif %}
            {% endfor %}
            
        {% endif %}
    {% endwith %}
    <div class="navigation">
        <ul>
            <li class="in">
                <a href="{{url_for('feed', id=current_user.id)}}">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('perfil', user=current_user.id)}}">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('gallery')}}">
                    <span class="icon"><i class="fa-solid fa-image"></i></span>
                    <span class="title">Galeria </span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('configuration')}}">
                    <span class="icon"><i class="fa-solid fa-gear"></i></span>
                    <span class="title">Configurações </span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('logout')}}">
                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="title">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <h1 class="name">MICROGRAM</h1>
    
    <div class="conteiner">
        {% block conteudo %}
        {% endblock conteudo %}
    </div>
    
</body>

</html>