<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_dashboard.css')}}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    <div class="navigation">
        <ul>
            <li class="in">
                <a href="{{url_for('pictures_add')}}">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('perfil', user=current_user.id)}}">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('gallery')}}">
                    <span class="icon"><i class="fa-solid fa-image"></i></span>
                    <span class="title">Galeria </span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('configuration')}}">
                    <span class="icon"><i class="fa-solid fa-gear"></i></span>
                    <span class="title">Configurações </span>
                </a>
            </li>
            <li class="in">
                <a href="{{url_for('logout')}}">
                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span class="title">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <h1 class="name">MICROGRAM</h1>
    <div class="search" id="search">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="input"  type="text" id="search-input" placeholder="Digite sua pesquisa">
                </a>
            </li>
        </ul>
    </div>
    <div class="search-below" id="search-below">
        <div class="users">
            <a href="#">Mariana</a>
            <a href="#">Fernando</a>
            <a href="#">João</a>
            <a href="#">Ana</a>
            <a href="#">Carlos</a>
        </div>
    </div>
    <div class="conteiner">
        {% block conteudo %}
        {% endblock conteudo %}
    </div>
    <script type="text/javascript">
        function toggleMenu() {
            let navigation = document.querySelector('.navigation');
            navigation.classList.toggle('active');
        }

        document.addEventListener('DOMContentLoaded', function () {
            const search = document.getElementById('search');
            const searchBelow = document.getElementById('search-below');
            const searchInput = document.getElementById('search-input');
            const searchTitle = document.getElementById('search .title');

            let isSearchExpanded = false; // Adiciona uma variável para rastrear o estado da expansão


            search.addEventListener('click', function (event) {
                event.stopPropagation();
                searchBelow.classList.toggle('active');
                isSearchExpanded = !isSearchExpanded; // Alterna o estado da expansão

                 // Alterar a largura da search quando a search-below estiver ativa
                if (isSearchExpanded) {
                    search.classList.add('expanded');
                    searchBelow.classList.add('active');
                    
                } else {
                    search.classList.remove('expanded');
                    searchBelow.classList.remove('active');
                    
                }
            });

            searchInput.addEventListener('blur', function () {
                if (searchInput.value.trim() === '') {
                    searchTitle.style.display = 'block';
                    searchInput.style.display = 'none';
                }
            });

            // Feche a search-below quando clicar fora dela
            document.body.addEventListener('click', function () {   
                searchBelow.classList.remove('active');
                searchTitle.style.display = 'block';
                searchInput.style.display = 'none';
            });

            // Impede que o clique na search-below seja tratado pelo evento de clique do corpo
            searchBelow.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });


    </script>
</body>

</html>