{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_gallery.css')}}">

<div id="Progress_Status">
    <div id="progressBar"></div>
</div>

<div class="add">
    <div class="add-picture">
        <form method="POST" enctype="multipart/form-data" action="{{url_for('upload_image')}}">
            <div class="input-group">
                <input type="file" name="images[]" multiple accept="image/*">
                <input  type="submit" onclick="update()" value="+ Adicionar">
            </div>
        </form>
    </div>
</div>


<p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                {% if category == "file_error" %}
                    <div class="alert">
                        <label class="flashes">{{message}}</label>
                    </div>
                {% elif category == "compatibility_error" %}
                    <div class="alert">
                        <label class="flashes">{{message}}</label>
                    </div>
                {% elif category == "upload_success" %}
                    <div class="alert_pass">
                        <label class="flashes_pass">{{message}}</label>
                    </div>
                {% elif category == "delete_success" %}
                    <div class="alert_pass">
                        <label class="flashes_pass">{{message}}</label>
                    </div>
                {% elif category == "file_length_error" %}
                    <div class="alert">
                        <label class="flashes">{{message}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</p> 

<div class="container">
    {% for image in pagination %}
    <div class="card-picture">
        <img src="data:;base64,{{image.string_data}}" alt="">
        <div class="buttons">
            <button class="btn-post" data-image-id="{{ image.id }}">Postar</button>
            <a href="{{image.id}}/gallery"
                onclick="return confirm('Deseja realmente excluir esta imagem da sua galeria de fotos?')"
                class="btn-excluir">Excluir</a>
        </div>
    </div>
    <dialog class="image-modal" data-image-id="{{ image.id }}">
        <div class="box-post">
            <div class="box-picture">
                <img src="data:;base64,{{image.string_data}}" alt="">
            </div>
            <form action="{{url_for('postar_foto', id = current_user.id, image_id = image.id)}}" method="POST">
                <div class="textfield2">
                    <textarea name="legenda" cols="20" rows="2" placeholder="Legenda"></textarea>
                </div>
                <div class="box-filters">
                    <label for="Filtros">Filtros</label>
                    <select class="filter">
                        <option value="opcao1">Original</option>
                        <option value="opcao2">Preto e Branco</option>
                        <option value="opcao3">Desfoque</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn-post">Confirmar</button>
                </div>
            </form>
        </div>
    </dialog>
    <hr class="line-below">
    {% endfor %}
        <div class="pagination">
        {% if pagination.has_prev %}
        <a href="{{url_for('gallery', page=pagination.prev_num)}}"> Fotos Anteriores</a>
        {% endif %}
        {% if pagination.has_next %}
        <a href="{{url_for('gallery', page=pagination.next_num)}}"> Próximas Fotos</a>
    </div>
    {% endif %}

</div>

<script>
    var btnsPost = document.querySelectorAll(".btn-post");
    var modals = document.querySelectorAll(".image-modal");
    btnsPost.forEach(function (btn) {
        btn.onclick = function () {
            var imageId = btn.getAttribute("data-image-id");
            var modal = document.querySelector(".image-modal[data-image-id='" + imageId + "']");
            if (modal) {
                modal.showModal();
            }
        };
    });
    modals.forEach(function (modal) {
        modal.addEventListener('click', function(event) {
            if (event.target === modal) {
                modal.close();
            }
        });
    });

    function update() {
        var progressStatus = document.getElementById("Progress_Status");
        progressStatus.classList.add("show-progress");


        var element = document.getElementById("progressBar");   
        var width = 0;
        var identity = setInterval(scene, 15);
        function scene() {
        if (width >= 100) {
            clearInterval(identity);
        } else {
            width++; 
            element.style.width = width + '%'; 
            }
        }
    }

</script>
{% endblock conteudo %}