{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_gallery.css')}}">

<div class="add">
    <div class="add-picture">
        <form method="POST" enctype="multipart/form-data" action="{{url_for('upload_image')}}">
            <div class="input-group">
                <input type="file" name="image">
                <input  type="submit" value="+ Adicionar">
            </div>
        </form>
    </div>
</div>


<!-- <p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                {% if category == "file_erro" %}
                    <div>
                        <label>{{message}}</label>
                    </div>
                {% elif category == "compatibility_error" %}
                    <div>
                        <label>{{message}}</label>
                    </div>
                {% elif category == "upload_sucess" %}
                    <div>
                        <label>{{message}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</p> -->

<div class="container">
    {% for image in images %}
    <div class="card-picture">
        <img src="data:;base64,{{image[0]}}" alt="">
        <div class="buttons">
            <button class="btn-post">Postar</button>
            <a href="{{image[1]}}/gallery" 
            onclick="return confirm('Deseja realmente excluir esta imagem da sua galeria de fotos?')"
             class="btn-excluir">Excluir</a>
        </div>
    </div>
    <hr class="line-below">
    {% endfor %}
</div>
{% endblock conteudo %}