<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <div class="popup-container">
                <div class="popup-content">
                    <h2>Alerta!</h2>
                    <ul class=flashes>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </ul>
                    <button class="close-popup">Continuar</button>
                </div>
            </div>


        {% endif %}
    {% endwith %}
    <div class="main-login">
        <div class="left-login">
            <h1>Microgram</h1>
            <img src="../static/img/image-post-animate.svg" alt="" class="image-login">
        </div>
        <div class="rigth-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <form action="" method="post">
                    <div class="textfield">
                        <label for="email">Email</label>
                        <input type="email" name="email" required placeholder="Email">
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" required placeholder="Senha">
                    </div>
                    <button class="btn-login">Login</button>
                </form>
                <div class="signup">
                    <p>Não tem uma conta?</p>
                    <a href="{{url_for('signup')}}">Cadastre-se</a>
                </div>
                
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/script_popup.js') }}"></script>
</body>
</html>