<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_password_recovery.css') }}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Password Recovery</title>
</head>
<body>
    <div class="container">
        <div class="card-recovery">
            <h1>Recuperação de Senha</h1>
            <form action="" method="post">
                <div class="textfield">
                    <input type="email" name="email" required placeholder="Email">
                </div>
                <button class="btn-recovery">Redefinir senha</button>
            </form>
            <div class="link">
                <p>Ou</p><a href="{{url_for('login')}}">Faça Login</a>
            </div>
        </div>
    </div>
</body>
</html>