<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_password_redefinition.css') }}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Password_redefinition</title>
</head>
<body>
    <div class="container">
        <div class="card-recovery">
            <h1>Redefinição de Senha</h1>
            <form action="" method="post">
                <div class="textfield">
                    <label for="nova_senha">Nova senha</label>
                    <input type="password" name="nova_senha" required placeholder="Nova senha" minlength="6" maxlength="20">
                </div>
                <div class="textfield2">
                    <label for="confirmar_senha">Confirmar senha</label>
                    <input type="password" name="confirmar_senha" required placeholder="Confirmar senha" minlength="6" maxlength="20">
                </div>
                <button class="btn-recovery">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>