{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_perfil.css')}}">
<div class="perfil">
    <div class="top-perfil">
        <img class="img" src="https://yt3.googleusercontent.com/_q52i8bUAEvcb7JR4e-eNTv23y2A_wg5sCz0NC0GrGtcw1CRMWJSOPVHUDh_bngD0q4gMvVeoA=s900-c-k-c0x00ffffff-no-rj" alt="">
        <h2>{{profile.nome}}</h2>
        <h2>@{{profile.usuario}}</h2>
        <p class="text">{{profile.bio}}</p>
    </div>
    <div class="follow">
        <div class="seguidores">
            <h2>1000</h2>
            <h2>Seguidores</h2>
        </div>
        <div class="usuarios">
            <a href="{{url_for('users')}}">Usuários</a>
        </div>
        <div class="seguindo">
            <h2>1000</h2>
            <h2>Seguindo</h2>
        </div>
    </div>
    <div>
        <hr class="line-perfil">
    </div>
    <div class="bottom-perfil">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/13447146-programacaoial-cheia-de-ilustracao-de-design-de-icone-de-contorno-simbolo-de-computacao-em-nuvem-no-arquivo-eps-10-de-fundo-branco-vetor.jpg" alt="">
        <img src="https://i.pinimg.com/236x/91/56/ab/9156ab661f6082b917a342b1c14a5185.jpg" alt=""> 
        <img src="https://i.pinimg.com/564x/02/dd/98/02dd98db07a6b9eaffdedc6114d013d7.jpg" alt=""> 
    </div>
</div>  
{% endblock conteudo %}