{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_perfil.css')}}">
<div class="perfil">
    <div class="top-perfil">
        <img class="img" src="data:;base64,{{profile.perfil_photo}}" alt="">
        <h2>{{profile.nome}}</h2>
        <h2>@{{profile.usuario}}</h2>
        {% if profile.bio != None %}
            <p class="text">{{profile.bio}}</p>
        {% else%}
        <p class="text"></p>
        {% endif %}
    </div>
    <div class="follow">
        <div class="seguidores">
            <h2>{{total_users}}</h2>
            <h2>Seguidores</h2>
        </div>
        <div class="usuarios">
            <a href="{{url_for('users')}}">Usuários</a>
        </div>
        <div class="seguindo">
            <h2>{{total_users}}</h2>
            <h2>Seguindo</h2>
        </div>
    </div>
    <div>
        <hr class="line-perfil">
    </div>
    <div class="bottom-perfil">
        {% for post in user_posts %}
                <img src="data:;base64,{{post.data}}" alt="">
        {% endfor %}
    </div>
</div>  
{% endblock conteudo %}