{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_pictures_add.css')}}">
<div class="dashboard">
    {% for post in posts %}
    <div class="picture">
        <div class="image">
            <img class="img" src="data:;base64,{{post.data}}" alt="">
        </div>
        <div class="container_card">
            <div class="card">
                <h1>Comentários</h1>
                <hr class="line-card">
                    <div class="scroll">
                        {% for comentario in comentarios %}
                            {% if comentario.post == post.id %}
                                <div class="box">
                                    <p><p></p></p>
                                    <div class="like-comment">
                                        <p>{{comentario.dono_user.nome}}</p>
                                        <a class="like-button-comment" data-post-id="{{post.id}}" data-comment-id="{{comentario.id}}" id="like-button-comment">
                                            <span class="icon">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <p class="comment">{{comentario.comentario}}</p>
                                </div>
                            {% endif %} 
                        {% endfor %}
                    </div>
                <form action="{{url_for('comentar_post', post_id = post.id,nome_user_post=post.dono_user.nome, nome=current_user.nome)}}" method="POST">
                    <div class="textfield">
                        <input type="text" name="comentario" placeholder="Comentário">
                    </div>
                    <button class="btn-comment" type="submit">Comentar</button>
                </form>
            </div>
        </div> 
    </div>

   
    <div class="box-comment">
        <div class="like-dislike">
            <!-- Botão de curtir -->
            <a class="like-button" data-post-id="{{post.id}}" id="like-button">
                <span class="icon">
                    <i class="fa-regular fa-thumbs-up"></i>
                </span>
            </a>

            <!-- Botão de não curtir -->
            <a  class="dislike-button" data-post-id="{{post.id}}" id="dislike-button">
                <span class="icon">
                    <i class="fa-regular fa-thumbs-down"></i>
                </span>
            </a>
            {% if post.usuario == current_user.id %}
                <a class="delete" data-post-id="{{post.id}}">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </a>
            {% endif %}
        </div>
        <div class="photo-caption">
            <div class="caption-container">
                <p class="caption-user">{{post.dono_user.nome}}</p>
                <p class="caption-text">
                    {{post.desc}}
                </p>
                <button class="caption-toggle" onclick="toggleCaption(this)">Mostrar mais</button>
            </div>
        </div>
    </div>
   
    
    <div>
        <hr class="line-picture">
    </div>
    {% endfor %}
</div>
<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        const commentContainers = document.querySelectorAll('.box-comment');

        commentContainers.forEach(function(container) {
            const captionText = container.querySelector('.caption-text');
            const captionToggle = container.querySelector('.caption-toggle');

            if (captionText.scrollHeight > captionText.clientHeight) {
            captionToggle.style.display = 'block'; 
            }

            captionToggle.addEventListener('click', function() {
                captionText.classList.toggle('expanded');
                if (captionToggle.innerHTML === 'Mostrar mais') {
                    captionToggle.innerHTML = 'Mostrar menos';
                } else {
                    captionToggle.innerHTML = 'Mostrar mais';
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const likeButtons = document.querySelectorAll(".like-button");
        const dislikeButtons = document.querySelectorAll(".dislike-button");
        const likeButtonsComment = document.querySelectorAll(".like-button-comment");

        likeButtons.forEach(function(likeButton) {
            likeButton.addEventListener("click", function() {
                const parentDiv = likeButton.closest(".box-comment");
                const thisLikeButton = parentDiv.querySelector(".like-button");
                const thisDislikeButton = parentDiv.querySelector(".dislike-button");

                if (!thisLikeButton.classList.contains("active")) {
                    thisLikeButton.innerHTML = '<span class="icon"><i class="fa-solid fa-thumbs-up"></i></span>';
                    thisDislikeButton.innerHTML = '<span class="icon"><i class="fa-regular fa-thumbs-down"></i></span>';
                    thisLikeButton.classList.add("active");
                    thisDislikeButton.classList.remove("active");
                    thisLikeButton.style.fontSize = '25px';
                    thisLikeButton.style.height = '49px';
                } else {
                    thisLikeButton.innerHTML = '<span class="icon"><i class="fa-regular fa-thumbs-up"></i></span>';
                    thisLikeButton.classList.remove("active");
                }
            });
        });

        likeButtonsComment.forEach(function(likeButtoncomment) {
            likeButtoncomment.addEventListener("click", function() {
                if (!likeButtoncomment.classList.contains("active")) {
                    likeButtoncomment.innerHTML = '<span class="icon"><i class="fa-solid fa-thumbs-up"></i></span>';
                    likeButtoncomment.classList.add("active");
                } else {
                    likeButtoncomment.innerHTML = '<span class="icon"><i class="fa-regular fa-thumbs-up"></i></span>';
                    likeButtoncomment.classList.remove("active");
                }
            });
        });

        dislikeButtons.forEach(function(dislikeButton) {
            dislikeButton.addEventListener("click", function() {
                const parentDiv = dislikeButton.closest(".box-comment");
                const thisLikeButton = parentDiv.querySelector(".like-button");
                const thisDislikeButton = parentDiv.querySelector(".dislike-button");

                if (!thisDislikeButton.classList.contains("active")) {
                    thisLikeButton.innerHTML = '<span class="icon"><i class="fa-regular fa-thumbs-up"></i></span>';
                    thisDislikeButton.innerHTML = '<span class="icon"><i class="fa-solid fa-thumbs-down"></i></span>';
                    thisDislikeButton.classList.add("active");
                    thisLikeButton.classList.remove("active");
                    thisDislikeButton.style.fontSize = '25px';
                    thisDislikeButton.style.height = '49px';
                } else {
                    thisDislikeButton.innerHTML = '<span class="icon"><i class="fa-regular fa-thumbs-down"></i></span>';
                    thisDislikeButton.classList.remove("active");
                }
            });
        });  
    });

    document.addEventListener("DOMContentLoaded", function() {
        const likeButtons = document.querySelectorAll(".like-button");
        const dislikeButtons = document.querySelectorAll(".dislike-button");
        const likeButtonsComment = document.querySelectorAll(".like-button-comment")

        likeButtons.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const postId = this.getAttribute("data-post-id");
                registerLikeDislike("like", postId);
            });
        });

        dislikeButtons.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const postId = this.getAttribute("data-post-id");
                registerLikeDislike("dislike", postId);
            });
        });
        
        likeButtonsComment.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const postId = this.getAttribute("data-post-id");
                const commentId = this.getAttribute("data-comment-id");
                registerLikeComment("like", postId, commentId);
            });
        });

        function registerLikeDislike(action, postId) {
            // Faça uma requisição Ajax para registrar o like ou dislike no servidor
            const xhr = new XMLHttpRequest();
            xhr.open("POST", `/registrar_like_dislike?action=${action}&post_id=${postId}`, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // Ação concluída, atualize a interface ou faça qualquer ação necessária
                    console.log(`Post ${postId} ${action}d!`);
                }
            };
            xhr.send();
        }

        function registerLikeComment(action, postId, commentId) {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", `/registrar_like_comment?action=${action}&post_id=${postId}&comment_id=${commentId}`, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 200) {
                    console.log(`Post ${postId} ${commentId} ${action}`);
                }
            };
            xhr.send();
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll(".delete");

        deleteButtons.forEach(function(deleteButton) {
            deleteButton.addEventListener("click", function(event) {
                event.preventDefault();
                const postId = this.getAttribute("data-post-id");
                confirmDelete(postId);
            });
        });

        function confirmDelete(postId) {
            const confirmation = confirm("Deseja realmente excluir este post?");
            if (confirmation) {
                deletePost(postId);
            }
        }

        function deletePost(postId) {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", `/excluir_post?post_id=${postId}`, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // Atualize a interface ou realize outras ações necessárias após a exclusão
                    console.log(`Post ${postId} excluído com sucesso!`);
                    window.location.reload();
                }
            };
            xhr.send();
        }
        
    });
    

</script>
{% endblock conteudo %}
