<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_registration.css') }}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="card-registration">
            <h2>Confirmação de Registro de Conta</h2>
            <hr>
            <p>Clique no link abaixo para confirmar seu registro.</p><p>Observação: Tempo limite de 7 dias.</p>
            <a href="#">Colocar Link</a>
        </div>
    </div>
</body>
</html>