<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_token_expired.css') }}">
    <link rel="icon" href="static/img/Logo_microgram.png" type="image/x-icon">
    <title>Token expirado</title>
</head>
<body>
    <div class="container">
        <div class="card-registration">
            <h2>Confirmação de Registro de Conta</h2>
            <hr>
            <p>Token expirado!Crie uma nova conta.</p>
        </div>
    </div>
</body>
</html>