{% extends 'dashboard.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_users.css')}}">
<div class="card-title">
    <div class="title">
        <h2>Usuários</h2>
    </div>
    <hr class="line">
</div>
<div class="container">
    {% for user in users %}
        {% if user.id != current_user.id %}
            <div class="card-user">
                <a href="{{url_for('perfil', user=user.id)}}">{{user.nome}}</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock conteudo %}