<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Microgram</h1>
            <img src="../static/img/image-post-animate.svg" alt="" class="image-login">
        </div>
        <div class="rigth-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" required placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" required placeholder="Senha">
                </div>
                <button class="btn-login">Login</button>
                <div class="signup">
                    <p>Não tem uma conta?</p>
                    <a href="{{url_for('signup')}}">Cadastre-se</a>
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>