@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert{
    width: 100vw;
    display: flex;
    background-color: #201b2c;
    margin-top: 85px;
}

.alert_pass{
    width: 100vw;
    display: flex;
    background-color: #201b2c;
    margin-top: 85px;
}

.flashes{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: rgb(241, 11, 11);
}

.flashes_pass{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #00ff88;
}


.add{
    height: 20vh;
    width: 59vw;
    display: flex;
    justify-content: end;
}

.add-picture {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 90px;
    padding: 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-picture form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-picture input[type="file"] { 
    width: 105%;
    padding: 4px 10px;
    border: 2px solid #28125e;
    border-radius: 50px;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 10px 10px 40px -12px #00ff8052;
    font-size: 14px;
}

.add-picture input[type="file"]:hover {
    background: #03b964;
    transition: background 0.7s;
}

.add-picture input[type="submit"] {
    width: 50%; /* Defina o valor desejado para a largura do botão */
    padding: 4px 0;
    border: 2px solid #28125e;
    border-radius: 20px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-size: 14px;
}

.add-picture input[type="submit"]:hover {
    background: #03b964;
    transition: background 0.7s;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-picture{
    height: 60vh;
    width: 40vw;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-picture >img{
    width: 60%;
    height: 80%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.box-picture{
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px  15px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.box-picture >img{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    
}

.box-filters{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-filters >label{
    color: #f0ffffde;
}

.textfield2{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.textfield2 >textarea{
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield2 >textarea::placeholder{
    color: #f0ffff94;
}

.buttons{
    margin-top: 25px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.btn-post,
.btn-excluir {
    width: 70%;
    padding: 4px 0;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-post {
    background: #00ff88;
    font-size: 16px; 
}

.btn-excluir {
    background: #fc1606f8;
    font-size: 16px; 
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-post:hover {
    background: #03b964;
    transition: background 0.7s;
}

.btn-excluir:hover {
    background: #cc1003f8;
    transition: background 0.7s;
}

.btn-close{
    width: 70%;
    padding: 4px 0;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-close{
    background: #fc1606f8;
    font-size: 16px; 
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-close:hover {
    background: #cc1003f8;
    transition: background 0.7s;
}

.line-below{
    height: 10%;
    width: 42vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin-top: 100px;
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .5);
}

dialog{
    left: 30%;
    top: 20%;
    height: 60%;
    width: 40%;
    background-color: #2f2841;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.box-post{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
} 
.pagination{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pagination >a{
    text-decoration: none;
    color: #8b27b3;
}

@media only screen and (max-width:1100px){
    .card-picture{
        width: 85%;
    }
    .line-below{
        width: 85%;
    }
    .add-picture{
        width: 85%;
    }
    .add-picture input[type="submit"]{
        width: 85%;
    }

}

@media only screen and (max-width: 600px) {
    dialog{
        width: 100%;
        left: 5%;
    }
}