@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
}
body *{
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-registration{
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 10px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-registration >h2{
    color: #00ff88;
    font-weight: 800;
    
}

.card-registration >hr{
    width: 30vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
}

.card-registration >p{
    color: rgb(228, 12, 12);
}