@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
}
body *{
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-recovery{
    height: 55%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 30px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    gap: 8px;
}

.card-recovery >h1{
    color: #00ff88;
    font-weight: 800;
}
.textfield >input{
    width: 20vw;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield >input::placeholder{
    color: #f0ffff94;
}

.textfield >label{
    color: #f0ffffde;
}

.textfield2 >input{
    width: 20vw;
    margin-right: 35px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield2 >input::placeholder{
    color: #f0ffff94;
}

.textfield2 >label{
    color: #f0ffffde;
}

.btn-recovery{
    width: 15vw;
    padding: 16px 0 ;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

button:hover {
    background: #02cc6e;transition: background 0.8s;
}



@media only screen and (max-width:950px){
    .card-recovery{
        width: 85%;
        height: 65%;
    }
}
@media only screen and (max-width:600px){
    .card-recovery{
        width: 90%;
        height: 65%;
    }
    .textfield >input{
        width: 40vw;
    }
    .btn-recovery{
        width: 40vw;
    }
}