@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add{
    height: 20vh;
    width: 42vw;
    display: flex;
    justify-content: end;
}

.add-picture{
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 30px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.add-picture >button{
    width: 100%;
    padding: 4px 0 ;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.add-picture >button:hover{
    background: #03b964;transition: background 0.7s;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-picture{
    height: 60vh;
    width: 40vw;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-picture >img{
    width: 60%;
    height: 80%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.buttons{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.btn-post{
    width: 70%;
    padding: 4px 0 ;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

.btn-excluir{
    width: 70%;
    padding: 4px 0 ;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #fc1606f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

.btn-post:hover{
    background: #03b964;transition: background 0.7s;
}

.btn-excluir:hover{
    background: #cc1003f8;transition: background 0.7s;
}

.line-below{
    height: 10%;
    width: 42vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin-top: 100px;
}

@media only screen and (max-width:1100px){
    .card-picture{
        width: 85%;
    }
    .line-below{
        width: 85%;
    }
    .add-picture{
        width: 85%;
    }
}

