@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.picture{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 60vw;
    height: 90vh;
    display: flex;
    justify-content:end;
    align-items: end;
    flex-direction: column;
}

.container_card{
    width: 40vw;
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
}

.img{
    height: 55vh;
    width: 35vw;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.scroll::-webkit-scrollbar{
    width: 10px;
    border: 1px;
    border-radius: 6px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #9836be;
    border-radius: 6px;
}

.scroll{
    position: absolute;
    width: 255px;
    height: 208px;
    margin-top: 46px;
    overflow-y: scroll;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box >p{
    color: #f0ffffde;
    font-weight: 500;
    text-decoration: underline;
}

.box .comment{
    font-weight: 300;
    word-wrap: break-word;
    max-width: 240px;
    text-indent: 0;
    text-decoration: none;
    margin-left: 10px;
}

.card{
    height: 55vh;
    width: 20vw;
    margin-top: 100px;
    background-color: #464343;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-top-right-radius: 10px;
}

.card >h1{
    font-size: 25px;
    color: #00ff88e5;
    font-weight: 200;
    margin: 0;
}

.line-card{
    width: 15vw;
    margin-bottom: 10px;
}

.textfield{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.textfield >input{
    width: 94%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-top: 198px;
}

.btn-comment{
    width: 40%;
    padding: 2px 0 ;
    margin-top: 3px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

button:hover {
    background: #02cc6e;transition: background 0.7s;
}

.line-picture{
    height: 10%;
    width: 70vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
}

.box-comment {
    border: 1px solid #464343;
    padding: 5px;
    width: 55vw;
    background-color: #464343;
    margin-left: 68px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.caption-container {
    display: flex;
    flex-direction: column;
    color: #f0ffffde;
}

.caption-user{
    font-weight: 500;
    text-decoration: underline;
}

.caption-text {
    margin: 0;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-width: 840px;
    text-indent: 0;
    transition: max-height 0.5s ease;
}

.caption-text.expanded {
    -webkit-line-clamp: unset; /* Mostra todo o texto quando a classe 'expanded' é aplicada */
    max-height: 100%;
}

.caption-toggle {
    border: none;
    background: none;
    color: #8b27b3;
    cursor: pointer;
    display: none;
}

.caption-toggle:hover{
    background: #00ff88;transition: background 0.7s;
}

.like-deslike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 100%; /* Garante que ocupe toda a largura */
}

.like-button,
.dislike-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Aumenta o tamanho do ícone e do botão */
    background-color: #464343;
    border-radius: 5px;
    text-decoration: none;
    color: #f0ffffde;
    transition: background-color 0.3s;
}

.like-button {
    margin-left: 100px; /* Adiciona margem à esquerda (like) */
}

.like-button .fa-regular {
    font-size: 25px; /* Adiciona margem à esquerda (like) */
}

.dislike-button {
    margin-right: 380px; /* Adiciona margem à direita (dislike) */
}

.dislike-button .fa-regular{
    font-size: 25px; /* Adiciona margem à direita (dislike) */
}

.like-button:hover,
.dislike-button:hover {
    background-color: #3e0748;
}



@media only screen and (max-width:950px){
    .card{
        width: 85%;
    }
    .line-card{
        width: 75%;
    }
    .textfield >input{
        margin-top: 170px;
    }
    .scroll{
        width: 40%;
        height: 33%;
    }
    .box-comment{
        width: 70.4%;
        margin-left: 175px;
    }
}
@media only screen and (max-width:600px){
    .picture{
       display: flex;
    }
    .image >h1{
        display: none;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .container_card{
        width: 100%;
        height: 100%;
    }
    .image-login{
        width: 50vw;
    }
    .img{
        width: 90%;
    }
    .line-card{
        width: 85%;
    }
    .line-picture{
        width: 85vw;
    }
    .textfield >input{
        margin-top: 170px;
    }
    .scroll{
        width: 40%;
        height: 33%;
    }
    .box-comment{
        width: 90.5%;
        margin-left: 0;
        margin-right: 11px;   
    }
}

