@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert{
    width: 100vw;
    display: flex;
    background-color: #00ff88;
}

.alert_pass{
    width: 100vw;
    display: flex;
    background-color: #201b2c;
}

.flashes{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: rgb(241, 11, 11);
}

.flashes_pass{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #00ff88;
}

.add{
    height: 20vh;
    width: 52vw;
    display: flex;
    justify-content: end;
}

.add-picture {
    height: 50%;
    width: 42%;
    display: flex;
    align-items: center;
    margin-top: 90px;
    padding: 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.add-picture form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-picture input[type="file"] {
    flex:auto; /* Ocupa o espaço disponível restante no form */
    width: 105%;
    padding: 4px 10px;
    border: 2px solid #28125e;
    border-radius: 50px;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 10px 10px 40px -12px #00ff8052;
    font-size: 14px;
}

.add-picture input[type="file"]:hover {
    background: #03b964;
    transition: background 0.7s;
}

.add-picture input[type="submit"] {
    width: 50%; /* Defina o valor desejado para a largura do botão */
    padding: 4px 0;
    border: 2px solid #28125e;
    border-radius: 20px;
    margin-top: 10px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-size: 14px;
}

.add-picture input[type="submit"]:hover {
    background: #03b964;
    transition: background 0.7s;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-picture{
    height: 60vh;
    width: 40vw;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px  35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-picture >img{
    width: 60%;
    height: 80%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.buttons{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.btn-post,
.btn-excluir {
    width: 70%;
    padding: 4px 0;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    letter-spacing: 1.0px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-post {
    background: #00ff88;
    font-size: 18px; 
}

.btn-excluir {
    background: #fc1606f8;
    font-size: 18px; 
}

.btn-post:hover {
    background: #03b964;
    transition: background 0.7s;
}

.btn-excluir:hover {
    background: #cc1003f8;
    transition: background 0.7s;
}


.line-below{
    height: 10%;
    width: 42vw;
    background-color: #00ff88;
    padding: 2px;
    border-radius: 8px;
    border: none;
    margin-top: 100px;
}

@media only screen and (max-width:1100px){
    .card-picture{
        width: 85%;
    }
    .line-below{
        width: 85%;
    }
    .add-picture{
        width: 85%;
    }
}

